* {
    margin: 0;
    padding: 0;
}

div {
    float: left;
    width: 50%;
    height: 200px;
}

div:nth-child(1) {
    background-color: cornsilk;
}

div:nth-child(2) {
    background-color: red;
}