@font-face {
  font-family: "iconfont"; /* Project id 2712373 */
  src: url('iconfont.woff2?t=1627639753992') format('woff2'),
       url('iconfont.woff?t=1627639753992') format('woff'),
       url('iconfont.ttf?t=1627639753992') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e614";
}

.icon-shopping-cart:before {
  content: "\e785";
}

.icon-wenben:before {
  content: "\e6f6";
}

